﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Saliens</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Saliens.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header>
        <div id="logo">
            <div id="logo_text">
                <h1><a asp-page="/Index">Saliens Info</a></h1>
                <h2>It's useful</h2>
            </div>
        </div>
        <nav>
            <ul id="menu">
                <li><a asp-page="/Index">Planets</a></li>
                <li><a asp-page="/Clans">Steam Groups Leaderboard</a></li>
                <li><a asp-page="/About">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        Copyright &copy; Eloncase | 2018-2019
    </footer>
</body>
</html>