html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #F0EFE2 url('/images/background.png') repeat;
    color: #FFF;
}

p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

img {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #FFF;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

h2 {
    font: normal 175% 'century gothic', arial, sans-serif;
    color: #FFF;
}

h4,
h5,
h6 {
    margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: #FFF;
}

h5,
h6 {
    font: italic 95% arial, sans-serif;
    padding: 0 0 15px 0;
    color: #FFF;
}

h6 {
    color: #362C20;
}

a,
a:hover {
    outline: none;
    text-decoration: underline;
    color: #FFF;
}

    a:hover {
        text-decoration: none;
    }

.left {
    float: left;
    width: auto;
    margin-right: 10px;
}

.right {
    float: right;
    width: auto;
    margin-left: 10px;
}

.center {
    display: block;
    text-align: center;
    margin: 20px auto;
}

blockquote {
    margin: 20px 0;
    padding: 10px 20px 0 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;
}

ul {
    margin: 2px 0 22px 17px;
}

    ul li {
        list-style-type: circle;
        margin: 0 0 6px 0;
        padding: 0 0 4px 5px;
    }

ol {
    margin: 8px 0 22px 20px;
}

    ol li {
        margin: 0 0 11px 0;
    }

body,
#logo,
nav,
main,
footer {
    margin-left: auto;
    margin-right: auto;
}

header {
    background: transparent;
    height: 240px;
}

#logo {
    width: 80%;
    position: relative;
    height: 168px;
}

    #logo #logo_text {
        position: absolute;
        top: 20px;
        left: 0;
    }

    #logo h1,
    #logo h2 {
        font: normal 300% 'century gothic', arial, sans-serif;
        border-bottom: 0;
        text-transform: none;
        margin: 0;
    }

#logo_text h1,
#logo_text h1 a,
#logo_text h1 a:hover {
    padding: 22px 0 0 0;
    color: #FFF;
    letter-spacing: 0.1em;
    text-decoration: none;
}

    #logo_text h1 a .logo_colour {
        color: #FFF;
    }

#logo_text h2 {
    font-size: 100%;
    padding: 4px 0 0 0;
    color: #FFF;
}

nav {
    width: 80%;
    height: 72px;
    padding: 0;
    background: rgba(118, 118, 118, 0.5);
}

ul#menu,
ul#menu li {
    float: left;
    margin: 0;
    padding: 0;
}

    ul#menu li {
        list-style: none;
    }

        ul#menu li a {
            letter-spacing: 0.1em;
            font: normal 100% arial, sans-serif;
            display: block;
            float: left;
            height: 37px;
            padding: 29px 26px 6px 26px;
            text-align: center;
            color: #FFF;
            text-transform: uppercase;
            text-decoration: none;
            background: transparent;
            transition: all 0.5s ease;
        }

            ul#menu li a:hover,
            ul#menu li.selected a,
            ul#menu li.selected a:hover {
                color: #FFF;
                transition: all 0.5s ease;
                background: rgba(167, 167, 167, 0.5);
            }

        ul#menu li :active {
            background: rgba(167, 167, 167, 0.5);
        }

input[type=submit] {
    margin: 3px;
    padding: 3px;
    background: transparent;
    color: #fff;
    border: 1px;
    border-color: #fff;
    font-size: 14px;
    border-style: solid;
    transition: all 0.3s ease;
}

    input[type=submit]:hover {
        color: #000;
        background: #fff;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    input[type=submit]:focus {
        outline: 0;
    }

#site_content {
    width: 80%;
    overflow: hidden;
    margin: 0 auto 0 auto;
    background: url('/images/saliens_background.jpg') #153e56;
}

#content {
    text-align: left;
    margin: 20px 24px 20px 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    #content ul {
        margin: 2px 0 22px 0px;
    }

        #content ul li {
            list-style-type: none;
            background: url('/images/bullet.png') no-repeat;
            margin: 0 0 6px 0;
            padding: 0 0 4px 25px;
            line-height: 1.5em;
        }

#footer {
    width: 80%;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    height: 33px;
    padding: 24px 0 5px 0;
    text-align: center;
    background: rgba(167, 167, 167, 0.5);
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

    #footer a {
        color: #FFF;
        text-decoration: none;
    }

        #footer a:hover {
            color: #FFF;
            text-decoration: underline;
        }

#colours {
    height: 0px;
    text-align: right;
    padding: 66px 16px 0px 300px;
}

.separator {
    width: 100%;
    height: 0;
    border-top: 1px solid #D9D5CF;
    border-bottom: 1px solid #FFF;
    margin: 0 0 20px 0;
}

.planetIndex {
    background-color: #0000004d;
    background-repeat: no-repeat;
    background-position-x: -153px;
    background-position-y: -300px;
}

.planet {
    margin: 40px;
    max-width: 300px;
    padding: 20px;
    padding-top: 200px;
    border-radius: 8px;
}

    .planet > div {
        display: flex;
        flex-direction: column;
    }

.fullview {
    display: flex;
    max-width: none;
    padding: 20px;
    background-color: #0000004d;
    background-repeat: no-repeat;
    background-position-x: -153px;
    background-position-y: bottom;
}

    .fullview > div {
        margin: 20px;
    }

.clan {
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
}

    .clan h2 {
        margin-bottom: 2px;
        padding: 10px 0 0px 0;
    }

.clanImage {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

.zone {
    width: 92px;
    height: 92px;
    margin: 0;
    border: 1px solid black;
    margin-right: -1px;
    margin-bottom: -1px;
    cursor: pointer;
    background-size: contain;
}

details {
    float: left;
}

    details summary::-webkit-details-marker {
        display: none;
    }

    details > summary {
        list-style-type: none;
    }

    details > div {
        position: absolute;
        padding: 20px;
        border: 1px solid gray;
        border-radius: 10px;
        margin-top: -50px;
        margin-left: 20px;
        background: #fffa;
        color: black;
    }

table {
    margin: 10px 0 30px 0;
}

    table tr th,
    table tr td {
        background: #3B3B3B;
        color: #FFF;
        padding: 7px 4px;
        text-align: left;
    }

    table tr td {
        background: #F0EFE2;
        color: #47433F;
        border-top: 1px solid #FFF;
    }
