﻿@page
@model Saliens.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div id="content">
    <div>
        <p>First of all I would like to thank <a href="https://steamcommunity.com/groups/SteamDB">SteamDB</a> group for their Saliens game scripts. They made my life easier. And I would like to apologize for my english I'm not a native speaker.</p>
        <p>Also, thanks to <a href="https://www.reddit.com/r/Saliens/">/r/Saliens</a>.</p>
        <p>And a little about estimated chances of winning. We know that each planet contains 4 games. We also know that steam gives away 100 copies of each game. From <a href="https://community.steam-api.com/ITerritoryControlMinigameService/GetPlanets/v0001/?active_only=1&language=english">data</a> I get from steam we can get amount of players on planet. From that information we can calculate estimated chances. So as far as steam returns valid information it should be pretty precise.</p>
        <br />
        <p>And if you really wish to donate feel free to use <a href="https://steamcommunity.com/tradeoffer/new/?partner=104075248&token=KX4NuttB">steam trade offer</a>. I would really appreciate it.</p>
        <p>Also big thanks to <a href="https://steamcommunity.com/id/SholdyVoldy">Sholdy</a> for helping out with frontend.</p>
        <br />
        <p>The event is gone. But I decided to keep site online in case anyone will need it.</p>
        <p>All price data is cached so it may not be actual.</p>
        <p>Almost all images is a property of <a href="https://www.valvesoftware.com/en/">Valve</a>.</p>
    </div>
</div>
