﻿@page
@model Saliens.Pages.ClansModel
@{
    ViewData["Title"] = "Groups";
    var clans = Model.Saliens.PlanetList.Where(x => !(x.Clans is null)).SelectMany(x => x.Clans);
    var clansById = clans.GroupBy(x => x.Info.AccountId);
}

<div id="content" style="flex-direction:column">
    <div>
        <p>Total groups: @clansById.Count()</p>
        <p>Total zones controlled: @clans.Select(x => x.ZonesControlled).Sum()</p>
    </div>
    @foreach (var g in clansById.OrderByDescending(x => x.Select(y => y.ZonesControlled).Sum()))
    {
        <div class="clan">
            <a href="https://steamcommunity.com/groups/@g.First().Info.Url">
                <div class="left clanImage" style="background-image: url('@($"https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e3/{g.First().Info.Avatar}_full.jpg")')">
                </div>
                <div class="left">
                    <h2>@g.First().Info.Name</h2>
                    <p>Zones controlled: @g.Select(x => x.ZonesControlled).Sum()</p>
                </div>
            </a>
        </div>
    }
</div>
