﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Active Planets";
}

<div id="content">
    @foreach (var pl in Model.Saliens.PlanetList)
    {
        <div class="planet planetIndex" style="background-image: url('/images/planets/@pl.State.ImageFilename')">
            <h2><a href="planet/@pl.Id">@pl.State.Name</a></h2>
            <p>@($"Battle Time: {TimeSpan.FromSeconds(pl.State.CaptureTime - pl.State.ActivationTime):hh\\:mm\\:ss}")</p>
            <p>@($"Estimated chance of winning one game: {400.0 / pl.State.TotalJoins * 100:0.00}%")</p>
            <p>Total players: @pl.State.TotalJoins</p>
            @if (Request.Cookies["compact"] is null || Request.Cookies["compact"] == "false")
            {
                <div class="gameList">
                    @foreach (var game in await Model.Saliens.GetGames(pl.Apps))
                    {
                        <a href="https://store.steampowered.com/app/@game.SteamAppid/">
                            <div>
                                <img style="width: 300px;" src="@game.HeaderImage"><br>@game.Name
                                @if (game.PriceOverview != null)
                                {
                                    <p>@($"{game.PriceOverview.Initial / 100.0:0.00}") @game.PriceOverview.Currency</p>
                                }
                                else
                                {
                                    <p>No price info</p>
                                }
                            </div>
                        </a>
                    }
                </div>
            }
        </div>
    }
</div>
