﻿@page "{id:int}"
@model Saliens.Pages.PlanetModel
@{
    var planetId = int.Parse((string)RouteData.Values["id"]);
    ViewData["Title"] = $"Planet #{planetId}";

    if (!Model.Saliens.PlanetDict.ContainsKey(planetId))
    {
        throw new NotImplementedException();
    }

    var pl = Model.Saliens.PlanetDict[planetId];
}

<div id="content">
    <div class="planet fullview" style="background-image: url('/images/planets/@pl.State.ImageFilename');">
        <div>
            <h2>@pl.State.Name</h2>
            <p>@($"Estimated chance of winning one game: {400.0 / pl.State.TotalJoins * 100:0.00}%")</p>
            <p>Battle started: @DateTimeOffset.FromUnixTimeSeconds(pl.State.ActivationTime)</p>
            <p>Battle ended: @DateTimeOffset.FromUnixTimeSeconds(pl.State.CaptureTime)</p>
            <p>@($"Battle Time: {TimeSpan.FromSeconds(pl.State.CaptureTime - pl.State.ActivationTime):hh\\:mm\\:ss}")</p>
            <p>Total players: @pl.State.TotalJoins</p>
            <p><a href="https://store.steampowered.com/prizes/winners/@pl.State.GiveawayId">Winners list</a></p>
        </div>
        <div>
            Games:
            @foreach (var game in await Model.Saliens.GetGames(pl.Apps))
            {
                <a href="https://store.steampowered.com/app/@game.SteamAppid/">
                    <div>
                        <img style="width: 300px;" src="@game.HeaderImage"><br>@game.Name
                        @if (game.PriceOverview != null)
                        {
                            <p>@($"{game.PriceOverview.Initial / 100.0:0.00}") @game.PriceOverview.Currency</p>
                        }
                        else
                        {
                            <p>No price info</p>
                        }
                    </div>
                </a>
            }
        </div>
        <div>
            Groups:
            @foreach (var g in pl.Clans.OrderByDescending(x => x.ZonesControlled))
            {
                <div class="clan">
                    <a href="https://steamcommunity.com/groups/@g.Info.Url">
                        <div class="left clanImage" style="background-image: url('@($"https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e3/{g.Info.Avatar}_full.jpg")')">
                        </div>
                        <div class="left">
                            <h2>@g.Info.Name</h2>
                            <p>Zones controlled: @g.ZonesControlled</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="planet fullview" style="flex-direction: column;">
        <div style="display:block;">
            <p>Total zones: @pl.Zones.Count</p>
            <p>Captured: @pl.Zones.Where(x => x.Captured).Count()</p>
            <p>
                Zones by difficulty:
                @foreach (var d in pl.Zones.GroupBy(x => x.Difficulty).OrderByDescending(x => x.Key))
                {
                    <br>

                    @($"{d.Key}: {d.Count()}")
                }
            </p>
            <p>
                Zones left by difficulty:
                @foreach (var d in pl.Zones.Where(x => !x.Captured).GroupBy(x => x.Difficulty).OrderByDescending(x => x.Key))
                {
                    <br>

                    @($"{d.Key}: {d.Count()}")
                }
            </p>
            <p>Squares below are clickable.</p>
        </div>
        <div style="display:block;background:url('/images/maps/@(new string(pl.State.ImageFilename.Where(x => x >= '0' && x <= '9').ToArray())).png');">
            @for (var i = 0; i < pl.Zones.Count; i++)
            {
                <details>
                    <summary>
                        <div class="zone" style="background-image: url('@($"https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e3/{pl.Zones[i].Leader.Avatar}_full.jpg")');">
                        </div>
                    </summary>
                    <div>
                        <p>Position: @pl.Zones[i].Position</p>
                        <p>Capture: @($"{pl.Zones[i].CaptureProgress * 100:0.00}%")</p>
                        <p>Difficulty: @pl.Zones[i].Difficulty</p>
                        @if (!(pl.Zones[i].Clans is null))
                        {
                            <div>
                                Groups:
                                @foreach (var c in pl.Zones[i].Clans)
                                {
                                    <br>

                                    @c.Name
                                }
                            </div>
                        }
                    </div>
                </details>
                @if ((i + 1) % 12 == 0)
                {
                    <div style="clear:left;"></div>
                }
            }
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
